/*------------------------------Général-------------------------------------------------*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

@mixin flex {
    display: flex;
    flex-wrap: wrap;
}
//color
$color_blue: #28eeca;
$color_gris: #818181;
$color_blanc: #f2f2f2;
$color_fond: #1f2029;

// police d'écriture

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Source+Code+Pro&display=swap");

@mixin titre {
    font-family: "Hammersmith One", sans-serif;
    font-size: 64px;
    color: $color_blanc;
}

@mixin sous-titre {
    font-family: "Source Code Pro", "sans-serif;";
    font-size: 32px;
    color: $color_blanc;
}

@mixin paragraphe {
    font-family: "Roboto", "sans-serif;";
    font-size: 16px;
    color: $color_blanc;
}
//fond
body {
    background-image: url(../assets/bg/fondmail.png);
    background-attachment: fixed;
    background-repeat: repeat-x;

    main {
        //fond bleu
        background-color: rgba(31, 32, 41, 0.9);
        width: 80%;
        ;
        // arrondi coté

        border-radius: 32px 32px 32px 32px;
        padding: 32px;
        display: block; 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

            .logo {
            
            width: 100%;

            img {
                margin-left: auto;
                margin-right: auto;
                display: block;
                width: 33%; 
            }
        }
        .Message {

            @include titre();
            @include paragraphe();
           
            h1 {
                margin-left: 32px;
            }
            p {
                margin-top: 32px;
                margin-left: 64px;
            }
        }
        article {
            @include sous-titre();
            @include flex();
            width: 100%;
            margin: 32px 32px 32px 32px;
            font-size: 16px;
            div{
                @include flex; 
                width: 33%;
                
                img {

                    margin: 8px 8px 8px 8px;
                    width: 100%;
                    height: 32px;

                }
                p, a{
                    width: 100%;
                    text-align:center;
                    color:$color_gris;
                    text-decoration: none;
                    &:hover{
                        color:#28eeca;
                    }
                }

            }
            
        }
    }
}

body{
    color: red;
}